<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descargar Código QR</title>
</head>
<body>
    <h4>Usted ha sido invitado a nuestro evento</h4>
     <h6>¡Utilice nuestra app para confirmarnos su asistencia escaneando este qr!</h6>
    
    <a href={{url}}>Abrir qr</a>
    

</body>
</html>
